<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns='http://www.w3.org/2005/Atom'
	xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'>
	<title type='text'>$atom.title</title>
	<author>
		<name>$atom.gmail</name>
		<email>$atom.gmail</email>
	</author>
	<generator version='1.0' uri='http://www.google.com/notebook'>
		Google Notebook
	</generator>
	<entry>
		<id>tid</id>
		<category scheme='http://schemas.google.com/g/2005#kind'
			term='http://schemas.google.com/notebook/2008/kind#section' />
		<title type='text'></title>
		<content type='text'></content>
	</entry>
	#for $wzNote in $atom.wzNotes:
	<entry>
		<updated>$wzNote.updateTime</updated>
		<category scheme='http://schemas.google.com/g/2005#kind'
			term='http://schemas.google.com/notebook/2008/kind#note' />
		<category
			scheme='http://schemas.google.com/notebook/gdata/2007/section'
			term='tid' label='' />
		#for $tag in $wzNote.tags
		<category scheme='http://schemas.google.com/g/2005/label'
			term='$tag' />
		#end for
		<title type='text'>$wzNote.title</title>
		<content type='html'>$wzNote.abstract</content>
		<link rel='related' type='text/html'
			href='$wzNote.url'
			title='$wzNote.title' />
		<author>
			<name>$atom.gmail</name>
		</author>
	</entry>
	#end for
</feed>